body{
    position: relative;
}
.text-planet {
    color: #4d94ff!important;
}

.btn-primary{
    background-color:#4d94ff;
    color: white;
}
.btn-primary:hover{
    background-color: #1a75ff;
}

#header img {
    width: 50px;
}

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}
#carousel .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: white;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}
.carousel-item{
    transition: transform 1s ease, opacity .5s ease-out;
}
.carousel-indicators button {
    border: none;
    height: 5px;
    margin-left: 10px;
    width: 25px;
}

#aliados  .container .row img{
    max-height: 27vh;
    object-fit: cover;
    }

#badges .bg-ubicacion{
    background-color:#4d94ff;
    color: white;
}
#badges .bg-menu{
    background-color:#944dff;
    color:white;
}

#place-time{
    background-color: #343a40;
    color: white;
}
#place-time img{
    max-width: 50%;
    align-items: center;
}


#footer{
    background: linear-gradient(90deg,#4d94ff,#6666ff 25%, #944dff);
}
a{
    color: white;
    text-decoration: none;
}